PRIVATE_KEY=your_deployer_wallet_private_key
ETHERSCAN_API_KEY=your_etherscan_or_polygonscan_api_key
INITIAL_ORACLE_ADDRESS=0xYourOracleWalletAddress
MTM_SECRET_KEY=minds-secure-development-key
GH_TOKEN: ${{ github.token }}
