# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Node/Web3 Tools (Hardhat/Foundry/Truffle)
node_modules/
cache/
artifacts/
broadcast/
out/

# IDEs and OS
.vscode/
.idea/
*.DS_Store
vault/
git-secrets/
